<div class="header">
      
        Seguros Autos

        <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="principal">Galeria</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="formulario">Formulario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>



</div>