<div class="header">
      
        Seguros Autos

        <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="http://localhost:4200">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/principal">Galeria</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://localhost:4200/formulario">Formulario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>



</div>