<div class="main" >

    <div class="media">
            <img src="{{auto.imagen}}" width="400px" class="align-self-center mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0">{{auto.modelo}}</h5>
              <p>Tu auto {{auto.marca}} {{auto.modelo}} color {{auto.color}} del año {{auto.year}} con {{auto.numPuertas}} puertas tiene un valor de $ {{auto.valor}}</p>
              
            </div>

            <div class="media">
              <img src="{{auto2.imagen}}" width="400px" class="align-self-center mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0">{{auto2.modelo}}</h5>
                <p>Tu auto {{auto2.marca}} {{auto2.modelo}} color {{auto2.color}} del año {{auto2.year}} con {{auto2.numPuertas}} puertas tiene un valor de $ {{auto2.valor}}</p>              


          </div>
          <button type="button" class="btn btn-info">Cotiza tu Seguro</button>
</div> 