
<form>
        <div class="row">
          <div class="col">
            <input [(ngModel)]="marca" name="marca" type="text" class="form-control" placeholder="Marca del Auto">
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="modelo" name="modelo"  class="form-control" placeholder="Modelo del Auto">
          </div>
          <div class="col">
                <input [(ngModel)]="year" name="year" type="text" class="form-control" placeholder="Año del Auto">
              </div>
        </div>
        <br>
              Los datos que ingresaste son {{marca}} , {{modelo}} y {{year}}
        <br>
        <br>
      </form>

      