
<form>
        <div class="row">
          <div class="col">
            <input [(ngModel)]="Marca" type="text" class="form-control" placeholder="Marca del Auto">
          </div>
          <div class="col">
            <input [(ngModel)]="Modelo" type="text" class="form-control" placeholder="Modelo del Auto">
          </div>
          <div class="col">
                <input [(ngModel)]="Year" type="text" class="form-control" placeholder="Año del Auto">
              </div>
              
        </div>
        <br>
              Los datos que ingresaste son {{Marca}} {{Modelo}} y {{Year}}
        <br>
        <br>
      </form>