
  <form class="formulario" >
        <div class="row">
          <div class="col">
            <input [(ngModel)]="marca" name="marca" type="text" class="form-control" placeholder="Marca del Auto">
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="modelo" name="modelo"  class="form-control" placeholder="Modelo del Auto">
          </div>
          <div class="col">
                <input [(ngModel)]="year" name="year" type="text" class="form-control" placeholder="Año del Auto">
              </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <input [(ngModel)]="color" name="color" type="text" class="form-control" placeholder="Color del Auto">
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="valor" name="valor"  class="form-control" placeholder="Valor del Auto">
          </div>
          <div class="col">
                <input [(ngModel)]="imagen" name="imagen" type="text" class="form-control" placeholder="Foto del Auto">
              </div>
        </div>

        <br>
              <a>Los datos que ingresaste son {{marca}} , {{modelo}} {{year}} {{color}} {{valor}} {{imagen}} : </a>
              <br>
              <br>
              <button (click)="agregarNuevo()" class="btn btn-warning">Agregar Nuevo </button>
        <br>
        <br>
      </form>



      
        
    
      
        
       
      
      